.option-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(86, 165, 235, 0.25);
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}

.option-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.option-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.option-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* Status Bar */

#status-bar {
  display: flex;
  justify-content: space-between;
}

.status-prefix {
  text-align: center;
  font-size: 2rem;
}

.status-main-text {
  text-align: center;
}

#progress-indicator {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progress-complete {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}

/* Loading Spinner */
#loading-spinner {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
